.head {
  display: flex;
  height: 15vh;
}

.head div {
  display: flex;
  flex: 1;
}

.head .title {
  justify-content: center;
  align-items: center;
  user-select: none;
}

.head .home {
  justify-content: right;
}

.body {
  display: flex;
  height: 85vh;
}